.request {
  width: 100%;
  padding-inline: 15px;
  border-radius: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.requestTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  cursor: pointer;
  position: relative;
}
.requestTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
}
.request[aria-expanded="true"] .requestTitle::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.requestTitleGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.requestTitleDate {
  display: flex;
  flex-direction: column;
}
.requestOpenStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-button);
}
.requestOpenStatus > img {
  width: 30px;
  aspect-ratio: 1;
  fill: black;
  transition: var(--transition-button);
}
.requestOpenStatus:hover > img {
  opacity: 0.6;
}
.request[aria-expanded="true"] .requestOpenStatus {
  transform: rotate(180deg);
}
.requestBody {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: var(--transition-button);
  position: relative;
}
.requestBody[aria-expanded="true"] {
  padding-block: 10px;
  opacity: 1;
}
.requestUserInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}
.requestMessage {
  margin-bottom: 5px;
  font-size: 1.125rem;
}
.requestProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.requestProduct {
  display: flex;
  flex-direction: column;
}
.requestButtonContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: start;
}
