.aboutItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .aboutItems {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 880px) {
  .aboutItems {
    grid-template-columns: 1fr;
  }
}
