.button {
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  padding: 10px;
  background-color: var(--color-primary-green);
  transition: var(--transition-button);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-tint-green);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-tint-green);
  }
}
.button:active {
  background-color: var(--color-primary-green);
}
@media (max-width: 610px) {
  .button {
    font-size: 1.125rem;
  }
}
