.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 1023px) {
  .card {
    grid-template-columns: 1fr;
  }
}
.cardImg {
  width: 100%;
  height: 100%;
}
.cardImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .cardImg {
    max-height: 400px;
  }
}
.cardTitle {
  font-size: clamp(25px, 2.7777777778vw, 40px);
  line-height: 1.2;
}
.cardPrice {
  font-size: clamp(20px, 2.0833333333vw, 30px);
  font-weight: 300;
  margin-bottom: 20px;
}

.cardRadio {
  margin-bottom: 20px;
}
.cardRadioTitle {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.cardDescription {
  opacity: 0;
  overflow: hidden;
  line-height: 1.1;
  height: 0;
  transition: var(--transition-button);
}
.cardDescription[aria-hidden="false"] {
  opacity: 1;
  padding-top: 5px;
}
.cardDescriptionButton {
  --button-arrow-width: 30px;
  --button-padding-right: 5px;
  border: none;
  background-color: transparent;
  font-size: 1.125rem;
  position: relative;
  padding: 0;
  padding-right: calc(
    var(--button-padding-right) + var(--button-arrow-width) + 5px
  );
}
.cardDescriptionButton:focus {
  outline: none;
}
.cardDescriptionButton:focus-visible {
  outline: 2px solid black;
  outline-offset: 2px;
  border-radius: 10px;
}
.cardDescriptionButton::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: var(--button-arrow-width);
  aspect-ratio: 1;
  background: var(--arrow-down-icon-url) center/cover no-repeat;
  transition: var(--transition-button);
}
.cardDescriptionButton[aria-expanded="true"]::after {
  transform: translateY(-50%);
}
.cardBuy .count {
  display: flex;
  -moz-column-gap: 5px;
  column-gap: 5px;
  margin-bottom: 20px;
}
.cardBuy .countTitle {
  font-weight: normal;
  font-size: 1.125rem;
  margin-bottom: 5px;
}
.cardBuy .countButton {
  border: none;
  padding: 0;
  background-color: #f1f1f5;
  border-radius: 8px;
  width: 32px;
  aspect-ratio: 1;
  transition: background-color 0.3s;
  position: relative;
}
.cardBuy .countButton::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 2px;
  background-color: #242424;
}
@media (hover: hover) {
  .cardBuy .countButton:hover {
    background-color: #e8e8f0;
  }
}
@media (hover: none) {
  .cardBuy .countButton:active {
    background-color: #e8e8f0;
  }
}
.cardBuy .countButtonPlus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  width: 12px;
  height: 2px;
  background-color: #242424;
}
.cardBuy .countInput {
  width: 49px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.cardBuy .countInput:focus-within {
  outline: none;
}
.cardBuy .countInput::-webkit-outer-spin-button,
.cardBuy .countInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.closeRedact {
  position: absolute;
  top: -30px;
  right: 5px;
  width: 50px;
  aspect-ratio: 1;
  border: none;
  background: none;
}
.closeRedact > svg {
  width: 100%;
  height: 100%;
}
